<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Plan name</th>
        <th scope="col">Monthly Fee</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= plan.name %></td>
        <td><%= plan.monthly_fee %></td>
      </tr>
    </tbody>
  </table>
