<%= render partial: 'profile', locals: { user: @user } %>
<h4>Subscriptions</h4>
<% subs = get_subs(@user)%>
<% if subs %>
  <% subs.each do |sub|%>
    <%= render partial: 'plan', locals: { plan: sub.plan } %>
    <%= render partial: 'features/show', locals: { features: sub.plan.features, user: @user} if sub.plan.features.any?%>
  <% end %>
<% end %>
