<h1> Welcome <%= current_user.name if user_signed_in? %> </h1>
<%= link_to 'Add user', new_user_invitation_path %>
<%= link_to 'Log out', destroy_user_session_path, method: :delete if user_signed_in?%>
